<!DOCTYPE html ng-app>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kaonty ronono Tovo</title>
    <script src="angular.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="fatra">Isan'ny tavoahangy 1,5  l<input type="number" ng-model="iraysysa" id=""></div>
        <div class="fatra">Isan'ny tavoahangy 2 l <input type="number" ng-model="roalitatra" id=""></div>
        <div class="fatra">Isan'ny tavoahangy 1 l <input type="number" ng-model="iraylitatra" id=""></div>
        <div class="fatra">Isan'ny tavoahangy 1/2 l <input type="number" ng-model="antsasany" id=""></div>
        <div class="totaliny">Totaliny amin'ny l: {{iraysysa}} </div>

    </div>
</body>
</html>